*{
	padding: 0;
	margin: 0;
}
body{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background-image: url(../images/brown-snake.jpg);
	background-position: center;
	background-size: initial;
	text-align: center;
}
.playArea{
	text-align: center;
}
.canvas{
	/* background-color: #000; */
	background-image: url(../images/snake.jpg);
	background-position: center;
	background-size: contain;
	margin-bottom: 20px;
	border: 5px solid yellow;
}
.score{
	margin: 0px auto 5px;
	width: 400px;
	background-color: rgb(193, 193, 193);
	color: #000;
	font-size: 60px;
	font-weight: 900;
}
.registerLable{
	margin-top: 100px;
	font-weight: 800;
	color: rgb(244, 184, 6);
}
.scoreLable{
	margin-top: 10px;
	font-weight: 800;
	color: rgb(244, 184, 6);
}
#form{
	width: 600px;
	border-radius: 5%;
	background-color: #C84922;
	/*color: #fff;*/
	font-weight: 600;
	margin: 150px auto 0;
	padding: 20px 0;
}
#pName{
	margin-left: 10px ;
}
#pAge{
	margin-left: 27px ;
}
.btn{
	background-color: mediumaquamarine;
	padding: 10px;
	margin: 10px auto;
}
.welcome{
	color: #fff;
}
.info{
	width: 350px;
	margin: 10px;
	padding: 5px;
}
#startBtn{
margin-top: 40px;
}
.gameover{
	background-color: #fff;
	width: 400px;
	margin: 10px auto;
}